<div
  class="canvas"
  #canvasRoot
  (pointerenter)="onCanvasPointerEnter()"
  (pointerdown)="onCanvasPointerDown($event)"
  (pointermove)="onCanvasPointerMove($event)"
  (pointerup)="onCanvasPointerUp($event)"
  (pointercancel)="onCanvasPointerCancel($event)"
  (wheel)="onWheel($event)"
  (contextmenu)="onContextMenu($event)"
>
  <div
    class="canvas-size-proxy"
    [style.width.px]="canvasExtent.width * zoom"
    [style.height.px]="canvasExtent.height * zoom"
  ></div>
  <div
    class="canvas-content"
    [style.width.px]="canvasExtent.width"
    [style.height.px]="canvasExtent.height"
    [style.transform]="'scale(' + zoom + ')'"
  >
    <div
      class="canvas-grid"
      [style.width.px]="canvasExtent.width"
      [style.height.px]="canvasExtent.height"
    ></div>
    <div
      class="unlinked-zone"
      *ngIf="unlinkedZone as zone"
      [style.left.px]="zone.x"
      [style.top.px]="zone.y"
      [style.width.px]="zone.width"
      [style.height.px]="zone.height"
    >
      <span class="unlinked-zone__label">Unlinked modules ({{ zone.count }})</span>
    </div>
    <svg
      class="connections"
      [attr.width]="canvasExtent.width"
      [attr.height]="canvasExtent.height"
      [attr.viewBox]="'0 0 ' + canvasExtent.width + ' ' + canvasExtent.height"
    >
      <defs>
        <marker
          id="arrowhead"
          markerWidth="10"
          markerHeight="7"
          refX="8"
          refY="3.5"
          orient="auto"
        >
          <polygon points="0 0, 10 3.5, 0 7"></polygon>
        </marker>
        <mask
          id="connection-mask"
          maskUnits="userSpaceOnUse"
          maskContentUnits="userSpaceOnUse"
        >
          <rect
            [attr.x]="0"
            [attr.y]="0"
            [attr.width]="canvasExtent.width"
            [attr.height]="canvasExtent.height"
            fill="white"
          ></rect>
          <rect
            *ngFor="let node of nodes; trackBy: trackByNode"
            [attr.x]="node.x"
            [attr.y]="node.y"
            [attr.width]="nodeWidth"
            [attr.height]="collapsedNodeHeight"
            fill="black"
          ></rect>
        </mask>
      </defs>
      <path
        *ngFor="let connection of renderedConnections; trackBy: trackByConnection"
        [attr.d]="connection.path"
        class="connection-hitline"
        [attr.title]="connection.tooltip"
        mask="url(#connection-mask)"
        (pointerdown)="onConnectionHitPointerDown(connection, $event)"
        (mouseenter)="onConnectionEnter(connection, $event)"
        (mousemove)="onConnectionMove($event)"
        (mouseleave)="onConnectionLeave()"
        (dblclick)="onConnectionRemove(connection)"
      ></path>
      <path
        *ngFor="let connection of renderedConnections; trackBy: trackByConnection"
        [attr.d]="connection.path"
        [style.--connection-color]="connection.color"
        marker-end="url(#arrowhead)"
        mask="url(#connection-mask)"
        class="connection-line"
      ></path>
      <circle
        *ngFor="let connection of renderedConnections; trackBy: trackByConnection"
        [attr.cx]="connectionAnchorX(connection)"
        [attr.cy]="connectionAnchorY(connection)"
        [attr.r]="6"
        class="connection-anchor"
        [class.active]="selectedConnectionId === connection.id"
        [hidden]="routeStyle !== 'curved'"
        (pointerdown)="onConnectionAnchorPointerDown(connection, $event)"
      ></circle>
      <path
        *ngIf="connectionDraft"
        [attr.d]="draftPath"
        [style.--connection-color]="draftColor"
        marker-end="url(#arrowhead)"
        mask="url(#connection-mask)"
        class="connection-line draft"
      ></path>
    </svg>

    <article
      class="module-card collapsed"
      *ngFor="let node of nodes; trackBy: trackByNode"
      [class.selected]="selectedModuleId === node.module.id"
      [attr.data-module-id]="node.module.id"
      [style.--module-color]="moduleTypeColor(node.module.serviceModuleTypeId)"
      [style.left.px]="node.x"
      [style.top.px]="node.y"
      (pointerdown)="onModuleCardPointerDown(node.module.id, $event)"
    >
      <div class="card-head">
        <strong>{{ node.module.name || 'Unnamed module' }}</strong>
      </div>

      <p class="meta">
        ID {{ node.module.id }} | {{ moduleTypeLabel(node.module.serviceModuleTypeId) }}
        ({{ node.module.serviceModuleTypeId }})
      </p>

      <button
        *ngIf="selectedModuleId === node.module.id"
        type="button"
        class="port input"
        [attr.data-port-input]="node.module.id"
        [style.left.px]="inputPortLeft(node)"
        title="Drop an arrow here"
      ></button>
      <button
        *ngIf="selectedModuleId !== node.module.id && nodeLinkFields(node).length > 0"
        type="button"
        class="port output collapsed-output"
        [class.hangup-exit]="showCollapsedHangup(node)"
        [style.left.px]="collapsedOutputPortLeft(node)"
        tabindex="-1"
        aria-hidden="true"
      >
        <span *ngIf="showCollapsedHangup(node)" class="hangup-mark">X</span>
      </button>
      <ng-container *ngFor="let field of nodeLinkFields(node)">
        <button
          *ngIf="selectedModuleId === node.module.id"
          type="button"
          class="port output"
          [class.hangup-exit]="isHangupExit(node, field)"
          [style.left.px]="outputPortLeft(node, field)"
          (pointerdown)="onOutputPortPointerDown(node, field, $event)"
          [title]="outputPortTooltip(node, field)"
        >
          <span *ngIf="isHangupExit(node, field)" class="hangup-mark">X</span>
        </button>
      </ng-container>
    </article>
  </div>
  <div
    class="connection-tooltip"
    *ngIf="connectionTooltip as tooltip"
    [style.left.px]="tooltip.x"
    [style.top.px]="tooltip.y"
  >
    {{ tooltip.text }}
  </div>
</div>
